*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    padding-bottom: 1ch;
}
.intro{
    text-align: center;
    justify-content: center;
}
body{
    width: 100%;
    position: relative;
    font-family: 'poppins', sans-serif;
    background-color: black;
    background-image: url(img/header.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.navbar{
    width: 100%;
    height: 60px;
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5vw;
    background: rgba(0, 0, 0, 0.3);
    z-index: 1;
    
}
.signin{
    margin-top: -60px;
    width: 100%;
    height: calc(100vh - 60px);
    justify-content: left;
    align-items: left;
}
.form{
    font-size:x-large;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 60ch;
}
.links-container{
    display: flex;
    list-style: none;
}
.link{
    padding: 10px;
    margin-left: 10px;
    text-decoration: none;
    text-transform: capitalize;
    color: rgb(255, 255, 255);
}
.navbar ul li a:hover{
    border-bottom: 2px solid rgb(255, 255, 255);

}
.heading{
    color: #fff;
    text-transform: capitalize;
    font-size: 80px;
    text-align: center;
}  
.heading .no-fill1{
    display:block;
    font-size: 80px;
    text-align: center;
    font-style: italic;
    padding-top: 2.5ch;
    color:  rgb(255, 255, 255);
}
button {
    background-color: #a5a5a5;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 20%;
  }
button:hover {
    opacity: 0.8;
}
.cancelbtn {
    width: 20%;
    padding: 10px 18px;
    background-color: #a5a5a5;
}
span.psw {
    float: right;
    padding-top: 16px;
}
span.psw {
    display: block;
    float: none;
} 
